{% extends "base.html" %}

{% block content %}
    <form action="/portfolioview" method="get">
        <div>
            Amount of risk you would like in your portfolio?
        </div>
        <div>
            <select name="riskAppetite">
                <option>
                    High
                </option>
                <option>
                    Low
                </option>
            </select>
        </div>
        <input type="submit" value="Submit">
    </form>
{% endblock %}