{% extends "base.html" %}

{% block content %}
    <form action="" method="get">
        <div>
            How much would you like to invest?
        </div>
        <input type="text" name="initialInvestment">
        <button href="{{ url_for() }}"
    </form>
{% endblock %}