{% extends "base.html" %}

{% block content %}
    <div>
        Step 1: Amount you would like to invest
    </div>
    <div>
        Step 2: Amount of risk you would like in your portfolio
    </div>
    <div>
        Step 3: View created portfolio, name and save
    </div>
    <button href="{{ url_for() }}"
{% endblock %}