{% extends "base.html" %}

{% block content %}
    <form action="" method="get">
        <div>
            Amount you'll need for purchase
        </div>
        <input type="text" name="investmentGoal">
        <input type="submit" value="Submit" style="">
    </form>
{% endblock %}