{% extends "base.html" %}

{% block css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>


    <style type="text/css">
        canvas {
              border-bottom: 1px solid #3B4F66;
              border-left: 1px solid #3B4F66;
              margin: 10px;
            }

            .carousel-control-next,
            .carousel-control-prev {
                filter: invert(100%);
                align-self: flex-end;
            }
    </style>

    <script type="text/javascript">
        $(document).ready(function(){
            var canvas = document.querySelector("canvas"),
                ctx = canvas.getContext("2d"),
                cHeight = canvas.height,
                cWidth = canvas.width,
                a = document.querySelector("#riskAppetite").value,
                x = 0,
                y = 0,
                point_y = 1;

        window.onload = init;

        function init() {
            document.querySelector("#riskAppetite").addEventListener("input", function() {
                a = this.value;
            }, false);

            drawSine();
        }

        function drawSine() {
            ctx.clearRect(0, 0, cWidth, cHeight);

            var width = ctx.canvas.width;
            var height = ctx.canvas.height;
            var scale = 20;

            ctx.beginPath();
            ctx.lineWidth = 2;
            ctx.strokeStyle = "#3B4F66";

            var x = 0;
            var y = 0;
            var amplitude = 10;
            var frequency = 20;

                for(x = 0; x<width; x++) {
                  point_y = height - (height * 0.60 * x/width) - (height * a/50 * x/width) - a * Math.sin(a/500 * x) + y;
                  ctx.lineTo(x, point_y);
              }

              ctx.stroke();
              ctx.closePath();
              requestAnimationFrame(drawSine);
        }

        $('#carouselExampleControls-1').on('slide.bs.carousel', function (e) {

          var slidingItemsAsIndex = $('.carousel-item').length - 1;

          // If last item hide next arrow
          if($(e.relatedTarget).index() == slidingItemsAsIndex ){
              $('.carousel-control-next').hide();
          }
          else{
              $('.carousel-control-next').show();
          }

          // If first item hide prev arrow
          if($(e.relatedTarget).index() == 0){
              $('.carousel-control-prev').hide();
          }
          else{
              $('.carousel-control-prev').show();
          }

        });

        $('#purchase_date').datepicker({
            format: "yyyy-mm",
            autoclose: true,
            todayHighlight: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            autoclose: true,
            changeMonth: true,
            changeYear: true,
            orientation: "button",
            startDate: new Date()
            // maxDate: '+30Y',

        });

        $("#wealth_builder").validate({
            ignore: [],
            rules: {
                "initialInvestment": { // <-- assign by field name and use quotes
                    required: true
                }
            },
            success: function(label, element) {},
            submitHandler: function(form) {
                //return false;
                form.submit(); // <-- this is default
            }
        });
    });  
    </script>

{% endblock %}

{% block content %}

<section class="main">

    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-ld-12 center">
                <h2> You are minutes away from building your own portfolio! </h2>
                <h4 class="muted"> I am investing to ...</h4>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="wealth-tab" data-toggle="tab" href="#wealth" role="tab" aria-controls="wealth" aria-selected="true">Build Wealth</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="purchase-tab" data-toggle="tab" href="#purchase" role="tab" aria-controls="purchase" aria-selected="false">Fund a Large Purchase</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="retire-tab" data-toggle="tab" href="#retire" role="tab" aria-controls="retire" aria-selected="false"> Retire </a>
                    </li>
                </ul>

                <div class="tab-content col-lg-12 justify-content: center;align-items: flex-start;margin: auto" id="myTabContent">
                    <div class="tab-pane fade show active" id="wealth" role="tabpanel" aria-labelledby="wealth-tab">
                        <br>
                        <br>

                        <div class="col-lg-12">
                            <form action="/portfolioview" method="get" id="wealth_builder">
                                <div class="container">

                                    <h3> For when you just want to grow your wealth. </h3>
                                    
                                    <div id="wealth_questions" class="carousel slide" data-ride="carousel" data-wrap="false" data-interval="false">
                                        <div class="carousel-inner">
                                            
                                            <div style="padding: 100px 250px;">
                                                
                                                <div class="carousel-item active" style="width:100%; height:100%;">
                                                    <br>

                                                    <h4>
                                                        How much are you going to invest?
                                                    </h4>

                                                    <div class="form-label-group" >
                                                        <input name="initialInvestment" type="text" id="initialInvestmentID" class="form-control" placeholder="$ Amount" size="32" autofocus value="{{ questionnaire['initialInvestment'] }}" pattern="\d*" required>
                                                        <label for="initialInvestmentID">$ Amount </label>
                                                    </div>
                                                </div>

                                                <div class="carousel-item" style="width:100%; height:100%;">
                                                    <br>

                                                    <h4>
                                                        What is your current annual income?
                                                    </h4>

                                                    <div class="form-label-group" >
                                                        <input name="annualIncome" type="text" id="annualIncome" class="form-control" placeholder="$ Amount" size="32"  pattern="\d*" required autofocus>
                                                        <label for="annualIncome">$ Amount </label>
                                                    </div>
                                                </div>

                                                <div class="carousel-item" style="width:100%; height:100%;align-content: center">

                                                    <h4>
                                                        Use the slider to show what returns over time you are comfortable with.
                                                    </h4>

                                                    <canvas width="600px" heigth="600px"></canvas> <br>
                                                    <span>LESS RISKY| STABLE RETURNS</span>><input name="riskAppetite" type="range" id="riskAppetite" min="0" max="20" value="1" step="0.5">
                                                </div><span>MORE RISKY|VOLATILE RETURNS</span>

                                                <div class="carousel-item" style="width:100%; height:100%;">

                                                    <h4>
                                                        If you could choose between the following payment options, which would you prefer?
                                                    </h4>

                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input" id="certain" name="variance" checked>
                                                        <label class="form-check-label" for="certain" style="color: #000000">$10, no questions asked</label>

                                                        <input type="radio" class="form-check-input" id="uncertain" name="variance">
                                                        <label class="form-check-label" for="uncertain" style="color: #000000">$20, but only if a flipped coin lands heads</label>
                                                    </div>


                                                </div>

                                                <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios">


                                                <!-- Controls -->
                                        
                                                <a class="carousel-control-prev" href="#wealth_questions" role="button" style="left: -10px;" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>

                                                <a class="carousel-control-next" href="#wealth_questions" role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="false"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="shadow btn btn-primary float-right " id="btnValidate"> Build! </button>

                            </form> 
                        </div>
                    </div>

                    <div class="tab-pane fade show" id="purchase" role="tabpanel" aria-labelledby="purchase-tab">
                        <br>
                        <br>

                        <div class="col-lg-12">
                            <form action="/portfolioview" method="get" id="purchase">
                                <div class="container">

                                    <h3> For when you have that specific goal in mind. </h3>
                                    
                                    <div id="purchase_questions" class="carousel slide" data-ride="carousel" data-wrap="false" data-interval="false">
                                        <div class="carousel-inner">
                                            
                                            <div style="padding: 100px 250px;">
                                                
                                                <div class="carousel-item active" style="width:100%; height:100%;">
                                                    <br>

                                                    <h4>
                                                        What do you want to purchase?
                                                    </h4>

                                                    <div class="form-label-group" >
                                                        <input name="purchaseName" type="text" id="purchaseName" class="form-control" placeholder="Description" size="32" autofocus required>
                                                        <label for="purchaseName"> Description </label>
                                                    </div>
                                                </div>

                                                <div class="carousel-item" style="width:100%; height:100%;">
                                                    <br>

                                                    <h4>
                                                        How much can you contribute today?
                                                    </h4>
                                                    
                                                    <div class="form-label-group" >
                                                        <input name="initialInvestment" type="text" id="initialInvestmentPurchase" class="form-control" placeholder="$ Amount" size="32" autofocus pattern="\d*" value="{{ questionnaire['initialInvestment'] }}">
                                                        <label for="initialInvestmentPurchase">$ Amount</label>
                                                    </div>
                                                </div>

                                                <div class="carousel-item" style="width:100%; height:100%;">
                                                    <br>

                                                    <h4>
                                                        How much do you require?
                                                    </h4>

                                                    <div class="form-label-group" >
                                                        <input name="purchaseAmount" type="text" id="purchaseAmount" class="form-control" placeholder="$ Amount" size="32" autofocus value="{{ questionnaire['purchaseAmount'] }}" pattern="\d*" required>
                                                        <label for="purchaseAmount">$ Amount </label>
                                                    </div>
                                                </div>

                                                <div class="carousel-item" style="width:100%; height:100%;">
                                                    <br>

                                                    <h4>
                                                        When are you planning to make your purchase?
                                                    </h4>

                                                    <div class='input-group date' id='purchase_date'>
                                                        <input type='text' id="purchaseDate" name="purchaseDate" class="form-control" min="2029-12-01" autofocus value="{{ questionnaire['purchaseDate'] }}" required/>
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>

                                                </div>

                                                <div class="carousel-item" style="width:100%; height:100%;">
                                                    <br>

                                                    <h4>
                                                        What is your current annual income?
                                                    </h4>

                                                    <div class="form-label-group" >
                                                        <input name="annualIncome" type="text" id="annualIncomePurchase" class="form-control" placeholder="$ Amount" size="32"  pattern="\d*" required autofocus>
                                                        <label for="annualIncomePurchase">$ Amount </label>
                                                    </div>
                                                </div>

                                                <div class="carousel-item" style="width:100%; height:100%;">

                                                    <h4>
                                                        If you fell short of your purchase, what would you do?
                                                    </h4>

                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input" id="extend" name="riskAppetite" value="5"checked >
                                                        <label class="form-check-label" for="extend" style="color: #000000">I would wait until I eventually meet my targets, keeping my preferences the same.</label>
                                                        
                                                        <input type="radio" class="form-check-input" id="riskier" name="riskAppetite" value="20" checked>
                                                        <label class="form-check-label" for="riskier" style="color: #000000">I would re-invest in riskier assets, expecting better returns.</label>

                                                        <input type="radio" class="form-check-input" id="nothing" name="riskAppetite" value="10" checked>
                                                        <label class="form-check-label" for="nothing" style="color: #000000">Nothing, I need to make this purchase!</label>
                                                    </div>
                                                </div>

                                                <!-- Controls -->
                                        
                                                <a class="carousel-control-prev" href="#purchase_questions" role="button" style="left: -10px;" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>

                                                <a class="carousel-control-next" href="#purchase_questions" role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="false"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="shadow btn btn-primary float-right " id="btnValidate"> Build! </button>

                            </form> 
                        </div>
                    </div>
                    
                    <div class="tab-pane fade show" id="retire" role="tabpanel" aria-labelledby="retire-tab">
                        <br>
                        <br>

                        <div class="col-lg-12">
                            <form action="/portfolioview" method="get" id="retire">
                                <div class="container">

                                    <h3> For when you're thinking about the future. </h3>
                                    
                                    <div id="retire_questions" class="carousel slide" data-ride="carousel" data-wrap="false" data-interval="false">
                                        <div class="carousel-inner">
                                            
                                            <div style="padding: 100px 250px;">

                                                <div class="carousel-item active" style="width:100%; height:100%;">
                                                    <br>

                                                    <h4>
                                                        How much would you like to put down today?
                                                    </h4>
                                                    
                                                    <div class="form-label-group" >
                                                        <input name="initialInvestment" type="text" id="initialInvestmentRetire" class="form-control" placeholder="$ Amount" size="32" autofocus pattern="\d*" value="{{ questionnaire['initialInvestment'] }}">
                                                        <label for="initialInvestmentRetire">$ Amount</label>
                                                    </div>
                                                </div>

                                                <div class="carousel-item" style="width:100%; height:100%;">
                                                    <br>

                                                    <h4>
                                                        What is your current annual income?
                                                    </h4>

                                                    <div class="form-label-group" >
                                                        <input name="annualIncome" type="text" id="annualIncomeRetire" class="form-control" placeholder="$ Amount" size="32"  pattern="\d*" required autofocus>
                                                        <label for="annualIncomeRetire">$ Amount </label>
                                                    </div>
                                                </div>

                                                <div class="carousel-item" style="width:100%; height:100%;">
                                                    <br>

                                                    <h4>
                                                        How old are you today?
                                                    </h4>

                                                    <div class="form-label-group" >
                                                        <input name="age" type="text" id="age" class="form-control" placeholder="$ Amount" size="32" autofocus pattern="\d*" required>
                                                        <label for="age"> Ages in years </label>
                                                    </div>
                                                </div>

                                                <div class="carousel-item" style="width:100%; height:100%;">
                                                    <br>

                                                    <h4>
                                                        When do you want to retire?
                                                    </h4>

                                                    <div class="form-label-group" >
                                                        <input name="retirementDate" type="text" id="retirementDate" class="form-control" placeholder="MM/YYYY" size="32" autofocus value="{{ questionnaire['retirementDate'] }}">
                                                        <label for="retirementDate"> MM/YYYY </label>
                                                    </div>
                                                </div>


                                                <div class="carousel-item" style="width:100%; height:100%;">
                                                    <br>

                                                    <h4>
                                                        How much do you need for retirement?
                                                    </h4>

                                                    <div class="form-label-group" >
                                                        <input name="retirementAmount" type="text" id="retirementAmount" class="form-control" placeholder="$ Amount" size="32" pattern="\d*" autofocus value="{{ questionnaire['retirementAmount'] }}">
                                                        <label for="retirementAmount">$ Amount</label>
                                                    </div>
                                                </div>

                                                <div class="carousel-item" style="width:100%; height:100%;">

                                                    <h4>
                                                        Are you able to adjust your retirement plans in 5 years? What about 10 years?
                                                    </h4>

                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input" id="flexible" name="riskAppetite" value="10"checked >
                                                        <label class="form-check-label" for="flexible" style="color: #000000">Yes, I am fairly flexible when it comes to adjusting for retirement.</label>
                                                        
                                                        <input type="radio" class="form-check-input" id="rigid" name="riskAppetite" value="5" checked>
                                                        <label class="form-check-label" for="rigid" style="color: #000000">I am sure I could make it work, but I do not want to. </label>

                                                        <input type="radio" class="form-check-input" id="riskiest" name="riskAppetite" value="20" checked>
                                                        <label class="form-check-label" for="riskiest" style="color: #000000">Whatever will bring me to my retirement target.</label>
                                                    </div>
                                                </div>

                                                <!-- Controls -->
                                        
                                                <a class="carousel-control-prev" href="#retire_questions" role="button" style="left: -10px;" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>

                                                <a class="carousel-control-next" href="#retire_questions" role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="false"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="shadow btn btn-primary float-right " id="btnValidate"> Build! </button>

                            </form> 
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}