{% extends "base.html" %}

{% block content %}
    <!-- Banner -->
    <section id="banner" data-video="images/banner">
        <div class="inner">
            <a href="#main" class="more scrolly"></a>
        </div>
    </section>

<div id="main">
    <div class="inner">

        <div class="thumbnails">
            <div class="box">
                <a class="image fit" style="cursor: pointer; outline: 0px;"><img src="static/images/pic01.jpg" alt=""></a>
                <div class="inner">
                    <h3><font color="white">Track</font></h3>
                    <p><font color="white">Back test your own portfolio<br><br></font></p>
                    <a class="button fit" data-poptrox="youtube,800x400" style="cursor: pointer; outline: 0px;" href="{{ url_for('/.server_models_portfolio_routing_track') }}">Start</a>
                </div>
            </div>

            <div class="box">
                <a class="image fit" style="cursor: pointer; outline: 0px;"><img src="static/images/pic02.jpg" alt=""></a>
                <div class="inner">
                    <h3><font color="white">Enhance</font></h3>
                    <p><font color="white">Have an enhanced portfolio created for you</font></p>
                    <a class="button style2 fit" data-poptrox="youtube,800x400" style="cursor: pointer; outline: 0px;" href="{{ url_for('/.server_models_portfolio_routing_enhance') }}">Start</a>
                </div>
            </div>

            <div class="box">
                <a class="image fit" style="cursor: pointer; outline: 0px;"><img src="static/images/pic03.jpg" alt=""></a>
                <div class="inner">
                    <h3><font color="white">Build</font></h3>
                    <p><font color="white">Have a custom portfolio built for your specific needs and goals</font></p>
                    <a class="button fit" data-poptrox="youtube,800x400" style="cursor: pointer; outline: 0px;" href="{{ url_for('/.server_models_portfolio_routing_build') }}">Start</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
