{% extends "base.html" %} {% block content %}

<div id="main">
    <!-- Banner -->
    <section id="banner" data-video="images/banner">
        <div class="inner">
            <a href="#main" class="more scrolly">Learn More</a>
        </div>
    </section>
    <div class="inner">

        <!-- Boxes -->
        <div class="thumbnails">
            <div class="box">
                <a class="image fit" style="cursor: pointer; outline: 0px;"><img src="static/images/pic01.jpg" alt=""></a>
                <div class="inner">
                    <h3><font color="white">Option 1</font></h3>
                    <p><font color="white">Derive Risk Profile of Given Portfolio<br><br></font></p>
                    <a class="button fit" data-poptrox="youtube,800x400" style="cursor: pointer; outline: 0px;" href="{{ url_for('/.server_models_portfolio_routing_option1') }}">Start</a>
                </div>
            </div>

            <div class="box">
                <a class="image fit" style="cursor: pointer; outline: 0px;"><img src="static/images/pic02.jpg" alt=""></a>
                <div class="inner">
                    <h3><font color="white">Option 2</font></h3>
                    <p><font color="white">Derive Optimal Position Weightings and Risk Profile of Desired Position</font></p>
                    <a class="button style2 fit" data-poptrox="youtube,800x400" style="cursor: pointer; outline: 0px;" href="{{ url_for('/.server_models_portfolio_routing_option2') }}">Start</a>
                </div>
            </div>

            <div class="box">
                <a class="image fit" style="cursor: pointer; outline: 0px;"><img src="static/images/pic03.jpg" alt=""></a>
                <div class="inner">
                    <h3><font color="white">Option 3</font></h3>
                    <p><font color="white">Have a Custom Portfolio Created for You Based on Your Needs </font></p>
                    <a class="button fit" data-poptrox="youtube,800x400" style="cursor: pointer; outline: 0px;" href="{{ url_for('/.server_models_portfolio_routing_option3childa') }}">Start</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}