{% extends "base1.html" %}

{% block content %}
    <h1>
        Welcome! Click below to get started.
    </h1>
    <a href="{{ url_for('/.server_routing_optiondecision') }}">
        <button type="button" value="Get Started"></button>
    </a>

{%  endblock %}