{% extends "base.html" %}


{% block content %}
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4"> Welcome back! </h3>
                  <form action="" method="post" validate>
                    {{ form.hidden_tag() }}
                    {{ form.csrf_token }}
                    
                    <div class="form-label-group">
                      <input name="username" type="text" id="inputEmail" class="form-control" placeholder="Username" required size="32" required autofocus>
                      <label for="inputEmail">Username</label>
                    </div>

                    <div class="form-label-group">
                      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required size="32" required>
                      <label for="inputPassword">Password</label>
                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label for="customCheck1"> Remember password</label>
                    </div>
                    
                    <button class="btn btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                    
                    <div class="text-center">
                      <p><font color="#3B4F66">New User? </font><a href="{{ '/auth/register' }}">Click to Register!</a></p>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
