{% extends "base.html" %}

{% block css %}
<style>
    .marginCenter{ border:2px solid; border-radius:25px;color:white; width:400px; height: 1400px;left:0; top:0; right:0; bottom: 0; margin: auto; background: auto;}
</style>
{% endblock %}

{% block content %}
<section>
    <div class="marginCenter">
     <form action="" method="get">
        <table>
            {% for ticker in tickers %}
                <tr>
                    <td>
                        {{  ticker }}
                    </td>
                    <td>
                        <input type="text" name="{{ ticker }}" value="0%">
                    </td>
                </tr>
            {% endfor %}
        </table>
         <div>
             <center><input type="range" min="1" max="100" value="50" id="myRange"></center>
         </div>
             <center><input type="submit" value="Submit" style=""></center>
     </form>
         </div>
</section>
{% endblock %}