{% extends "base.html" %}

{% block css %}

    <style type="text/css">
        .table-wrapper {
            width: 100%;
            margin: 30px auto;
            background: #fff;
            padding: 20px;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }
        .table-title {
            padding-bottom: 10px;
            margin: 0 0 10px;
        }
        .table-title h2 {
            margin: 6px 0 0;
            font-size: 22px;
        }
        .table-title .add-new {
            float: right;
            height: 30px;
            font-weight: bold;
            font-size: 12px;
            text-shadow: none;
            min-width: 100px;
            border-radius: 50px;
            line-height: 13px;
        }
        .table-title .add-new i {
            margin-right: 4px;
        }
        table.table {
            table-layout: fixed;
        }
        table.table tr th, table.table tr td {
            border-color: #3B4F66;
        }
        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }
        table.table th:last-child {
            width: 100px;
        }
        table.table td a {
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;
            min-width: 24px;
        }
        table.table td a.add {
            color: #27C46B;
        }
        table.table td a.edit {
            color: #FFC107;
        }
        table.table td a.delete {
            color: #E34724;
        }
        table.table td i {
            font-size: 19px;
        }
        table.table td a.add i {
            font-size: 24px;
            margin-right: -1px;
            position: relative;
            top: 3px;
            align:center
        }
        table.table .form-control {
            height: 32px;
            line-height: 32px;
            box-shadow: none;
            border-radius: 2px;
        }
        table.table .form-control.error {
            border-color: #f50000;
        }
        table.table td .add {
            display: none;
        }
        .centre-align {
            padding: 10px;
            border: 1px dashed gray;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }

        input:checked + .slider {
          background-color: #3B4F66;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #3B4F66;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>


    <script type="text/javascript">
        $(document).ready( function() {
            setTimeout(function(){
                let x = document.getElementById("details");
                x.style.display = "none";
            }, 500);
            $("#toggle").click(function() {
              let x = document.getElementById("details");
              if (x.style.display === "none") {
                x.style.display = "block";
                } else {
                x.style.display = "none";
              }
            });
        });
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            var actions = $("table td:last-child").html();
            // Append table with add row form on add new button click
            $(".add-new").click(function(){
                var index = $("table tbody tr:last-child").index();
                var counter = index + 1;
                var row = '<tr>' +
                    '<td><input id="ticker_'+counter+'" type="text" class="form-control" name="ticker_'+counter+'"  pattern="[A-Za-z]{1,4}" title="Please a enter valid ticker" required></td>' +
                    '<td><input id="value_'+counter+'" type="text" class="form-control" name="value_'+counter+'" pattern="^\\d*(\\.\\d{0,2})?$" title="Please enter numbers only" required></td>' +
                    '<td>' + actions + '</td>' +
                '</tr>';
                $("table").append(row);
                $('[data-toggle="tooltip"]').tooltip();
            });
            // Add row on add button click
            $(document).on("click", ".add", function(){
                var empty = false;
                var input = $(this).parents("tr").find('input[type="text"]');
                input.each(function(){
                    if(!$(this).val()){
                        $(this).addClass("error");
                        empty = true;
                    } else{
                        $(this).removeClass("error");
                    }
                });
                $(this).parents("tr").find(".error").first().focus();
                if(!empty){
                    input.each(function(){
                        $(this).parent("td").html($(this).val());
                    });
                }
            });
            // Edit row on edit button click
            $(document).on("click", ".edit", function(){
                $(this).parents("tr").find("td:not(:last-child)").each(function(){
                    $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
                });
                $(this).parents("tr").find(".add, .edit").toggle();
                $(".add-new").attr("disabled", "disabled");
            });
            // Delete row on delete button click
            $(document).on("click", ".delete", function(){
                if($("table tbody tr:last-child").index() > 0) {
                    $(this).parents("tr").remove();
                    $(".add-new").removeAttr("disabled");
                };
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#start_date').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayHighlight: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                orientation: "button"
            }).on('changeDate', function (selected) {
                var minDate = new Date(selected.date.valueOf());
                $('#end_date').datepicker('setStartDate', minDate);
            });
            $('#end_date').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayHighlight: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                orientation: "button"
            }).on('changeDate', function (selected) {
                var minDate = new Date(selected.date.valueOf());
                $('#start_date').datepicker('setEndDate', minDate);
            });
        });

    </script>


{% endblock %}

{% block content %}
    <section id="main">
        <form action="/track" method="get" autocomplete="off">
        <!-- <form method="get"> -->
           <div class="container">

                <div class="row">

                    <div class="col-lg-12 section-heading text-center">
                        <br>
                        <h2> Track a Portfolio </h2>
                    </div>

                    <div class="table-wrapper col-lg-12">
                        <div class="table-title">
                            <div class="row text-center" >
                                <div class="col-lg-2">
                                    <label for="StartDate">Start Date</label>
                                </div>

                                <div class="col-lg-2">
                                    <div class='input-group date' id='start_date'>
                                        <input type='text' id="start_date" name="start_date" class="form-control" max="2010-01-05" required/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-2">
                                    <label for="StartDate">End Date</label>
                                </div>

                                <div class="col-lg-2">
                                    <div class='input-group date' id='end_date'>
                                        <input type='text' id="end_date" name="end_date" class="form-control" max="2010-01-05" required />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <button type="button" class="button add-new"><i class="fa fa-plus"></i> Add New </button>
                                </div>
                            </div>
                        </div>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Ticker</th>
                                    <th>Dollar Amount</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td><input id="ticker_0" type="text" placeholder="AAPL" class="form-control" name="ticker_0" pattern="[A-Za-z]{1,4}" title="Please a enter valid ticker" required></td>
                                    <td><input id="value_0" type="text" placeholder="1000" class="form-control" name="value_0" pattern="^\d*(\.\d{0,2})?$" title="Please enter numbers only" required></td>
                                    <td><a style="centre-align" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
           </div>

            <center><input type="submit" id="next" value="Track"></center>
        </form>

    {% if error == True %}
        <div class="container text-center">

            <div class="section-heading text-center">
                <br>
                <h2> We couldn't quite find those assets ... </h2>
                    <p class="text-muted"> Please check to make sure the tickers you specified are correct </p>
                <hr><br>
            </div>
        </div>
    {% endif %}


    {% if display == True %}
        <div class="container text-center">

            <div class="section-heading text-center">
                <br>
                <h2> Let's take a look at this portfolio</h2>
                    <p class="text-muted"> A guided walk through of basic portfolio analysis </p>
                <hr><br>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3> First off the bat, here is that portfolio in terms of weighting allocation </h3>
                    <p class="text-muted"> Portfolio weights are nothing but the percentage of dollars allocated to the specific asset </p>
                    {{pie}}
                </div>
                <br>
            </div>

            <div class="row">                    
                <div class="col-md-12">
                    <h3> Next up, we look at the portfolio's performance </h3>
                    <p class="text-muted"> The cumulative returns tell us how much the portfolio grew over the horizon </p>
                    {{plot}}
                </div>
                <br>
            </div>


            <div class="row">
                    
                    <div class="col-md-12">
                        <h3> Some quick numbers at a glance further tell the performance story </h3>
                    </div>

                    <div class="col-md-4">
                        <div class="feature-item">
                                <h4>{{ stats[0] }}&#37; </h4>
                                <p class="text-muted"> Total Period Returns </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="feature-item">
                            <h4> {{ '${:,.2f}'.format(stats[1]) }} </h4>
                            <p class="text-muted"> Minimum Portfolio Value </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="feature-item">
                            <h4> {{ '${:,.2f}'.format(stats[2]) }} </h4>
                            <p class="text-muted"> Maximum Portfolio Value</p>
                        </div>
                    </div>
                    <br>
            </div>  

            <br><br><br>

            <div class="row">

                <div class="col-md-12">
                    <h2> I would like to see more detailed statistics on this portfolio! </h2>

                    {% if rolling > 1%}
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round" id="toggle"></span>
                        </label>
                        <p class="text-muted"> Rolling Volatility, Sharpe Performance, Waterfalls and Drawdowns </p>
                        <hr><br>

                        <div id="details">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3> {{rolling}}-day rolling Volatility </h3>
                                    <p class="text-muted"> Giving us an indication as to how stable this portfolio is </p>
                                    {{vols_plot}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h3> {{rolling}}-day rolling Sharpe Ratio </h3>
                                    <p class="text-muted"> Where a larger value means a bigger bang for your buck (greater risk-adjusted returns) </p>
                                    {{sharpe_plot}}
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <h3> Portfolio Drawdowns</h3>
                                    <p class="text-muted"> Showing how far the portfolio fell from it's highs</p>

                                    {{underwater}}
                                    {{drawdown}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                </div>
                            </div>
                        </div>  

                    {% else %}
                        <p class="text-muted"> Before we can do that, try backtesting over a longer period of time </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}

{% endblock %}