{% extends "base1.html" %}

{% block content %}
    <h1>
        Select one of the portfolio options below:
    </h1>
    <a href="{{ url_for('/.server_routing_option1') }}">
        <button type="button">Option1</button>
    </a>
    <a href="{{ url_for('/.server_routing_option2') }}">
        <button type="button">Option2</button>
    </a>
    <a href="{{ url_for('/.server_routing_option3childa') }}">
        <button type="button">Option3</button>
    </a>
{%  endblock %}