{% extends "base.html" %}

{% block content %}
        <div>
            Amount of risk you would like in your portfolio?
        </div>
        <div>
            <select name="riskAppetite" id="riskAppetite">
                {% if riskAppetite == 3 %}
                    <option selected>
                        High
                    </option>
                    <option>
                        Medium
                    </option>
                    <option>
                        Low
                    </option>
                {% elif riskAppetite == 2 %}
                    <option>
                        High
                    </option>
                    <option selected>
                        Medium
                    </option>
                    <option>
                        Low
                    </option>
                {% else %}
                    <option>
                        High
                    </option>
                    <option>
                        Medium
                    </option>
                    <option selected>
                        Low
                    </option>
                {% endif %}
            </select>
        </div>
    <a href="{{ url_for('/.server_models_portfolio_routing_portfolioview')}}">
        <button type="submit" onclick="storeParameters()">Next</button>
    </a>
    <a href="{{url_for('/.server_models_portfolio_routing_option3RetirementB')}}">
        <button type="submit">Back</button>
    </a>
{% endblock %}