{% extends "Option3Parent.jinja2" %}

{% block choice %}
    <form action="" method="get">
        <div>
            When do you need the money?
        </div>
        <div>
             <input type="range" min="1" max="100" value="50" id="myRange" name="timeHorizon">
         </div>
        <div>
            How much do you need?
        </div>
        <input type="text" name="investmentGoal">
        <div>
            How much risk are you willing to take?
        </div>
        <div>
            <select name="riskAppetite">
                <option>
                    High
                </option>
                <option>
                    Low
                </option>
            </select>
        </div>
        <input type="submit" value="Submit" style="">
    </form>

{% endblock %}