{% extends "base1.html" %}

{% block content %}
    <div>
        {{ weightings }}
    </div>
    <div>
        {{ expectedReturn }}
    </div>
    <div>
        {{ expectedVol }}
    </div>
    <div>
        {{ risk }}
    </div>

{% endblock %}