{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/snippet.css') }}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/snippet.js') }}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 
{% endblock %}

{% block content %}
    {% for i in range(portfolioNames| length) %}
      <script language = "JavaScript">

      </script>
        <section>
        <div class="container text-center">

            <div class="section-heading text-center">
                <br>
                <h2>{{ portfolioNames[i] }}</h2>
                    <p class="text-muted">Portfolio Names</p>
                <br>
            </div>


            <div class="row">
                <div class="col-lg-4">
                    <div class="feature-item">
<!--
                            <p class="text-muted"> histValues </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="feature-item">
                        <h3>  </h3>
                        <p class="text-muted"> </p>
                    </div>
                </div>

                <
            </div>

            <hr>

            <div class="row">
                <div class="col-lg-8">
                    <div>
        
        
            <div id="container" class="plotly-graph-div" style="height:100%; width:100%;"></div>
        </div>
                </div>
            </div>
        </div>
    </section>
        <!--<center><div id = "container" style = "width: 550px; height: 400px; margin: 0 auto"></div></center>-->
        <form action="/portfoliodashboard" method="get">

            <input type="submit" value="See Portofolio">
         </form>

    {% endfor %}
{% endblock %}
