{% extends "base.html" %}

{% block content %}
    <form action="/saveportfolio" method="get">
        <input type="text" name="portfolioName" placeholder="Portfolio Name...">
        <div>
            {{ histValues[-1] }}
        </div>
        <div>
            {{ histValues }}
        </div>
        <div>
            {{ expectedReturn }}
        </div>
        <div>
            {{ expectedVol }}
        </div>
        <div>
            {{ risk }}
        </div>
        <div>
            {{ weightings }}
        </div>
        <div>
            {{ long }}
        </div>
        <div>
            {{ short }}
        </div>
        <input type="submit" value="Save">
        <input type="submit" action="/editportfolio" value="Edit">
    </form>
{% endblock %}