{% extends "base.html" %}

{% block content %}
    <div>
        {{ weightings }}
    </div>
    <div>
        {{ expectedReturn }}
    </div>
    <div>
        {{ expectedVol }}
    </div>
    <div>
        {{ risk }}
    </div>
    <button type="button">Save</button>
    <button type="button">Edit</button>
{% endblock %}