{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<section id="main">

    <!-- Not Displayed -->
    <div style="display: none;">
        <input type="text" name="initialInvestment" value="{{ questionnaire[" initialInvestment"] }}">
        <input type="text" name="purchaseAmount" value="{{ questionnaire[" purchaseAmount"] }}">
        <input type="text" name="purchaseDate" value="{{ questionnaire[" purchaseDate"] }}">
        <input type="text" name="retirementAmount" value="{{ questionnaire[" retirementAmount"] }}">
        <input type="text" name="retirementDate" value="{{ questionnaire[" retirementDate"] }}">
        <input type="text" name="riskAppetite" value="{{ questionnaire[" riskAppetite"] }}">
        <input type="text" name="option" value="{{ option }}">
        <input type="text" name="portfolioName" value="{{ portfolioName }}">
    </div>


    {% if display == True %}
        <div class="container text-center">

            <div class="section-heading text-center">
                <br>
                <h2> Take a look at your portfolio </h2>
                <hr><br><br>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3> Portfolio Allocation </h3>
                    <p class="text-muted"> Here is what your portfolio is holding</p>
                    {{pie}}
                </div>
                <br>
            </div>

            {% if show_plots %}

            <div class="row">
                <div class="col-md-12">
                    <h3> Portfolio cumulative return portformance </h3>
                    <p class="text-muted"> The cumulative returns tell us how much the portfolio grew over the horizon </p>
                    {{plot}}
                </div>
                <br>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <h3> Some quick numbers at a glance further tell the performance story </h3>
                </div>

                <div class="col-md-4">
                    <div class="feature-item">
                            <h4>{{ stats[0] }}&#37; </h4>
                            <p class="text-muted"> Total Period Returns </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature-item">
                        <h4> {{ '${:,.2f}'.format(stats[1]) }} </h4>
                        <p class="text-muted"> Minimum Portfolio Value </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature-item">
                        <h4> {{ '${:,.2f}'.format(stats[2]) }} </h4>
                        <p class="text-muted"> Maximum Portfolio Value</p>
                    </div>
                </div>
                <br>
            </div>

            <br><br><br>

            <div class="row">
                <div class="col-md-12">
                    <h2> I would like to see more detailed statistics on this portfolio! </h2>

                    {% if rolling > 1%}
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round" id="toggle"></span>
                        </label>
                        <p class="text-muted"> Rolling Volatility, Sharpe Performance, Waterfalls and Drawdowns </p>
                        <hr><br>

                        <div id="details">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3> {{rolling}}-day rolling Volatility </h3>
                                    <p class="text-muted"> Giving us an indication as to how stable this portfolio is </p>
                                    {{vols_plot}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h3> {{rolling}}-day rolling Sharpe Ratio </h3>
                                    <p class="text-muted"> Where a larger value means a bigger bang for your buck (greater risk-adjusted returns) </p>
                                    {{sharpe_plot}}
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <h3> Portfolio Drawdowns</h3>
                                    <p class="text-muted"> Showing how far the portfolio fell from it's highs</p>

                                    {{underwater}}
                                    {{drawdown}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <p class="text-muted"> Before we can do that, try backtesting over a longer period of time </p>
                    {% endif %}
                </div>
            </div>
            {% else %}
            
            <div class="row">
                <div class="col-md-12">
                    <h3> Come back tomorrow!</h3>
                    <p class="text-muted"> Your portfolio is still new, so it's value has not changed yet. </p>
                    <br><br>
                </div>
                <br>
            </div>

            {% endif %}

        </div>
    {% endif %}

    <!-- <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <form action="/editportfolio" method="get">
                <input type="submit" value="Edit">
            </form>
        </div>
    </div> -->

    {% endblock %}
</section>
