<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PLEASE WORK</title>
</head>
<body>
This is name:
{{ fname }}
{{ lname }}

{%
for el in listA:
    {{el}}




</body>
</html>