{% extends "base.html" %}

{% block content %}
    <script>
        function check(input) {
            if (input.value != document.getElementById('inputPassword').value) {
                input.setCustomValidity('Password must be matching');
            } else {
                // input is valid -- reset the error message
                input.setCustomValidity('');
            }
        }
    </script>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">    </div>
      
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4"> Call in the Cavalry! </h3>
              <form action="" method="post" validate>
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}

                <div class="form-label-group">
                  <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required size="32" mx-autofocus>
                  <label for="inputUsername">Username</label>
                </div>

                <div class="form-label-group">
                  <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email" required size="64" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Must be a valid email address">
                  <label for="inputEmail">Email</label>
                </div>

                <div class="form-label-group">
                  <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required size="32" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                  <label for="inputPassword">Password</label>
                </div>

                <div class="form-label-group">
                  <input name="password2" type="password" id="inputPassword2" class="form-control" placeholder="Password" required size="32" oninput="check(this)">
                  <label for="inputPassword2">Repeated Password</label>
                </div>

                <button class="btn btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}  

