{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
{% endblock %}

{% block content %}

{% endblock %}
{% block content_test %}
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
          <div class="login d-flex align-items-center py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                  <h3 class="login-heading mb-4"><font color="white">Register</font></h3>
                  <form action="" method="post" novalidate>
                      {{ form.hidden_tag() }}
                      {{ form.csrf_token }}
                    <div class="form-label-group">
                      <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required size="32" mx-autofocus>
                      <label for="inputUsername">Username</label>
                    </div>
                    <div class="form-label-group">
                      <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email" required size="64">
                      <label for="inputEmail">Email</label>
                    </div>
                    <div class="form-label-group">
                      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required size="32" >
                      <label for="inputPassword">Password</label>
                    </div>
                    <div class="form-label-group">
                      <input name="password2" type="password" id="inputPassword2" class="form-control" placeholder="Password" required size="32">
                      <label for="inputPassword2">Repeated Password</label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Register</button>
                    <div class="text-center">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

