{% extends "base.html" %}

{% block content %}
    <script>
        function storeParameters(){
            window.localStorage.setItem('initialInvestment', {{ initialInvestment }})
            window.localStorage.setItem('riskAppetite', {{ riskAppetite }})
        }

        document.onload(storeParameters())
    </script>
    <div>
        Step 1: Amount you would like to invest
    </div>
    <div>
        Step 2: Amount of risk you would like in your portfolio
    </div>
    <div>
        Step 3: View created portfolio, name and save
    </div>
    <a href="{{ url_for('/.server_models_portfolio_routing_option3WealthA')}}">
        <button type="submit">Next</button>
    </a>
{% endblock %}