{% extends "Option3Parent.jinja2" %}

{% block content %}
    <form action="" method="post">
        <div>
            How much do you want to invest?
        </div>
        <input type="text">
        <div>
            How much risk are you willing to have?
        </div>
        <div>
            <select>
                <option>
                    High
                </option>
                <option>
                    Low
                </option>
            </select>
        </div>
        <input type="submit" value="Submit" style="">
    </form>
{% endblock %}