{% extends "base.html" %}

{% block content %}
    <h1>
        What are you investing for?
    </h1>
    <button type="button">Building Wealth</button>
    <button type="button">Retirement</button>
    <button type="button">Large Purchase</button>
    {% block varChoiceName %}
    {% endblock %}
{% endblock %}