{% extends "base.html" %}

{% block content %}
     <form action="">
        <table>
            <tr>
                <td>
                    SPY
                </td>
                <td>
                    <input type="text" name="myIndex" value="0%">
                </td>
            </tr>
            <tr>
                <td>
                    TLT
                </td>
                <td>
                    <input type="text" name="myIndex2" value="0%">
                </td>
            </tr>
        </table>
        <input type="submit" value="Submit" style="">
    </form>
{% endblock %}
