{% extends "base.html" %}

{% block content %}
    <form action="" method="get">
        <div>
            How much do you want to invest?
        </div>
        <input type="text" name="initialInvestment">
        <div>
            How much risk are you willing to have?
        </div>
        <div>
            <select name="riskAppetite">
                <option>
                    High
                </option>
                <option>
                    Low
                </option>
            </select>
        </div>
        <input type="submit" value="Submit" style="">
    </form>
{% endblock %}